<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>hello there</title>
   
    </head>
    <body >
        <h1>{% block heading %}{% endblock %}</h1>

        <nav class="nav">
            <a href="/hostels" class="nav-item is-active" active-color="orange">Hostels</a>
            <a href="#" class="nav-item" active-color="green">about</a>
            <a href="#" class="nav-item" active-color="blue">Q/A</a>
            <a href="#" class="nav-item" active-color="red">status</a>
            <a href="/signup" class="nav-item" active-color="rebeccapurple">sign in</a>
            <span class="nav-indicator"></span>
          </nav>
          
        
        
        {% block body %}
        {% endblock %}
    </body>
</html>